@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Inder');

#paper-div{
    width: 1140px;
    position: relative;
    left: 300px;
}


#current{
    font-size: 25px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px; 
}

#about 
{
    color:#ff4411;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px; 
}

#details 
{ 
    font-family: 'Inder', sans-serif; 
    line-height: 28px; 
    margin-bottom: 15px;
    color: #666; 
}

#uniWeb{
    color: #ff4411;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

#uniWeb:hover { color: #a03c21 }

.borderBot{
    border-bottom: 3px solid #666; 
    padding: 0 0 15px 0; 
    margin-bottom: 8px;
}
.date { float: left }

.author { float: right }
.meta-info { padding: 5px; overflow: hidden; }

.meta-info p { font-family: 'Fenix', serif;
     font-style: italic; 
     color: #666; 
     font-size: 16px; }

  