@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#detailsContainer{
    display     :flex;
 
    margin-right: auto;
    margin-left : auto;
    
    left        : 19%;
    bottom      : 35.8%;
    flex-direction: column;
    flex-wrap     : nowrap;
    justify-content: center;
    padding: 10px
    
}

#homeContainer{
    display: flex;
    align-items: center;
    margin:25%;
}



#skill{
    display         : inline;
    padding-right   : 5px;
    font-family     : 'Ubuntu', sans-serif;
    position        : relative;
    font-size       : 60px  
    
}
#name{
    font-family     : 'Ubuntu', sans-serif;
    font-size       : 80px;  
}


button{
    background:#696969;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 12px
   
  }
  button:hover{
    background:#fff;
    color:#696969;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #696969;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }


  